extends layout

block content
  h1= title
  form(id='CostumeForm', action="/resource/electronics", method="POST")
    div.form-group
      label.costumeAttr(for='costume_type') Electronics type
      input#costume_type(type='text', name='productname')
    div.form-group
      label.costumeAttr(for='size') Electronics manufacturer
      input#size(type='text', name='manufacturer')
    div.form-group
      label.costumeAttr(for='cost') Electronics cost
      input#cost(type='number', name='price')
    input(type="submit")
    script.
      document.forms['CostumeForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed: " + error);
        });
      });
